@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    --font-stack: "Poppins", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100%;
    background-color: #ECECF0;
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.full_app {
    width: 100%;
    height: 100%;
    display: flex;
}

.side {
    width: 250px;
    background-color: white;
}

.main {
    max-width: calc(100% - 250px);
    flex: 1;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.center {
    padding: 20px 20px;
    overflow-y: auto;
    flex: 1;
}

.scrollbar {
    overflow-y: scroll;
}

.force-overflow {
    min-height: 1px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 10px;
    background-color: #dadada;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #a5a5a5;
}