.profile_page .user_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    padding: 10px;
}

.profile_page .information {
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
}

.profile_page h4,
.profile_page textarea,
.profile_page p {
    margin: 5px;
}

.profile_page #savebutton {
    font-size: 12px;
    margin: 10px;
    padding: 15px 15px;
    border-radius: 25px;
    color: white;
    border: 0px;
    background-color: rgb(99, 101, 209);
    text-align: center;
    vertical-align: middle;
}

.profile_page #savebutton:hover {
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.profile_page .banner-container {
    position: relative;
}

.profile_page .banner {
    max-height: 200px;
    border-radius: 15px;
    overflow: hidden;
}

.profile_page .circle-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.profile_page .circle-photo {
    width: 100%;
    height: 100%;
}

.profile_page .circle-container {
    position: absolute;
    top: 75px;
    left: calc(50% - 100px);
    z-index: 2;
}

.profile_page .logo-button {
    margin: 10px;
    border: 0px;
    background-color: #ECECF0;
    border-radius: 25px;
}

.profile_page .logo-button:hover {
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.profile_page .logo-img {
    width: 35px;
    height: 35px;
}

.information{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap:10px;
}

h4 input{
    font-family: var(--font-stack);
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid silver;
    padding: 10px;
    margin: 0;
}

textarea{
        font-family: var(--font-stack);
        font-size: 16px;
        border-radius: 12px;
        border: 1px solid silver;
        padding: 10px;
        margin: 0;
}

.social_buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea{
    resize: none;
}