.profile_page .user_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    padding: 10px;
}

.profile_page .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
}

.profile_page h4,
.profile_page textarea,
.profile_page p {
    margin: 5px;
}

.profile_page #savebutton {
    font-size: 12px;
    margin: 10px;
    padding: 15px 15px;
    border-radius: 25px;
    color: white;
    border: 0px;
    background-color: rgb(99, 101, 209);
    text-align: center;
    vertical-align: middle;
}

.profile_page #savebutton:hover {
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.profile_page .banner-container {
    position: relative;
}

.profile_page .banner {
    max-height: 200px;
    border-radius: 15px;
    overflow: hidden;
}

.profile_page .circle-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.profile_page .circle-photo {
    width: 100%;
    height: 100%;
}

.profile_page .circle-container {
    position: absolute;
    top: 75px;
    left: calc(50% - 100px);
    z-index: 2;
}

.profile_page .logo-button {
    margin: 10px;
    border: 0px;
    background-color: #ECECF0;
    border-radius: 25px;
}

.profile_page .logo-button:hover {
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.profile_page .logo-img {
    width: 35px;
    height: 35px;
}

.profile_page .information button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    align-items: center;
    background-color: #4886A2;
    color: white;
    border: none;
    padding: 15px;
    font-size: 20px;
    gap: 10px;
    border-radius: 15px;
}

.visibility_settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Slider */
.switch {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
