.navBar {
    border-bottom: 1px solid rgb(197, 196, 196);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    background-image: linear-gradient(to right, #44829f, #5895ac, #6da8b9, #84bbc6, #9bced4);
    height: 85px;
}

.navBar img {
    height: 85px
}

.navBar>div {
    display: flex;
}

.navBar button,
.navBar a {
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 21px;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.buttonGroup {
    font-size: 20px;
    gap: 35px;
}

.buttonGroup .empty {
    width: 75px;
}

.buttonGroup a:hover {
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.navBar .active {
    font-weight: bold;
    position: relative;
}

.navBar .active::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    animation: fadeIn 0.2s ease-in-out forwards; 
}

@keyframes fadeIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.signUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.signUp>img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.signUp>p {
    font-size: 20px;
}

.signUp>button {
    font-size: 17px;
    padding: 22px 15px;
    border-radius: 5px;
    border: 0px;
    height: 40px;
    color: white;
    border-radius: 25px;
    background-color: #4886A2;
    /* box-shadow: 5px 5px 5px #6ba1b0; */
}

.signUp>button:hover {
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.container {
    width: 46px;
    height: 46px;
    box-sizing: border-box;
    padding: 12px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .sun {
    width: 50%;
    height: 50%;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.6) rotate(0deg);
    transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
    
  /*  white transparent for Safari  */
    background: radial-gradient(circle, rgba(255, 255, 0, 0) 50%, #ffff00 50%);
  }
  
  .sun:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #ffff00 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, #ffff00 50%);
    transform: rotate(45deg);
  }
  
  .sun.visible {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1) rotate(180deg);
    transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
  }
      
  .moon {
    width: 50%;
    height: 50%;
    pointer-events: none;
    position: absolute;
    left: 12.5%;
    top: 18.75%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-shadow: 9px 3px 0px 0px #f0f0f0;
    opacity: 0;
    transform: scale(0.3) rotate(65deg);
    transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
  }
  
  .moon.visible {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
  }
  
  .star {
    position: absolute;
    top: 25%;
    left: 5%;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid #f0f0f0;
    border-left: 7px solid rgba(0, 0, 0, 0);
    transform: scale(0.55) rotate(35deg);  
    opacity: 0;
    transition: all 0.2s ease-in 0.4s;
  }
  
  .star:before {
    border-bottom: 5px solid #f0f0f0;
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    position: absolute;
    height: 0;
    width: 0;
    top: -3px;
    left: -5px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  
  .star:after {
    position: absolute;
    display: block;
    color: red;
    top: 0px;
    left: -7px;
    width: 0px;
    height: 0px;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid #f0f0f0;
    border-left: 7px solid rgba(0, 0, 0, 0);
    transform: rotate(-70deg);
    content: '';
  }
  
  .moon.visible .star {
    opacity: .8;
  /*   transform: rotate(35deg); */
  }
  
  .star.small {
    transform: scale(0.35) rotate(35deg);
    position: relative;
    top: 50%;
    left: 37.5%;
    opacity: 0;
    transition: all 0.2s ease-in 0.45s;
  }
  
  .moon.visible .star.small {
    opacity: .7;
    transform: scale(0.45) rotate(35deg);
  }