.landing_page_full{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgb(199, 10, 114));
    overflow: hidden;
    font-family: 'poppins';
}

#up{
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgb(43, 247, 202, 0.5));
    filter: blur(80px);
    animation: down 40s infinite;
}
#down{
    position: absolute;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgba(245, 207, 82, 0.8), rgba(199, 10, 114));
    filter: blur(80px);
    animation: up 30s infinite;
}
#left{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgba(183, 253, 52, 0.8));
    filter: blur(80px);
    animation: left 30s 1s infinite;
}
#right{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgba(26, 248, 18, 0.6), rgba(199, 10, 114, 0.5));
    filter: blur(80px);
    animation: right 40s .5s infinite;
}

.landing_page_image {
    flex: 2;
    border: 3px solid white;
    border-right: none;
    border-radius: 10px;
}

.landing_page_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.login_area {
    position: relative;
    z-index: 999;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; /* Adjusted height */
    background-color: rgba(0, 0, 0, 0.7); /* Black with 0.7 opacity */
    border-radius: 15px; /* Optional: Add border-radius for rounded corners */
    padding: 20px; /* Optional: Add padding for spacing inside the box */
    max-width: 500px; /* Adjusted maximum width */
    margin: 0 auto; /* Center the box horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow with a subtle effect */
}

.login_area .all_logos {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.login_area .all_logos img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.animated_typing_class {
    height: 50px;
}

.login_button_area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_button_area p {
    color: red;
    font-style: italic;
}

.login_area .animated_typing_class {
    text-align: center;
    height:50px;
    font-size: 38px;
    font-family: "Russo One", sans-serif;
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #5087a5 0%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.login_button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f1f1f1;
    color: black;
    padding: 20px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

.login_button:hover {
    color: white;
    background-color: green;
}

.login_button img {
    width: 30px;
    height: 30px;
}

@keyframes down{
    0%, 100%{
        top: -100px;
    }
    70%{
        top: 700px;
    }
}
@keyframes up{
    0%, 100%{
        bottom: -100px;
    }
    70%{
        bottom: 700px;
    }
}
@keyframes left{
    0%, 100%{
        left: -100px;
    }
    70%{
        left: 1300px;
    }
}
@keyframes right{
    0%, 100%{
        right: -100px;
    }
    70%{
        right: 1300px;
    }
}