.questions::-webkit-scrollbar {
    display: none;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.question_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 10px;
    gap: 5px;
}


.question_form button {
    padding: 20px;
    background-color: #0c9ee2;
    color: white;
    border: none;
    font-size: 20px;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 0px 10px;
}

#selectTag {
    background-color: DodgerBlue;
    color: white;
    height: 30px;
    border: none;
}

.intro_left {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.intro_right button {
    background-color: DodgerBlue;
    color: white;
    border: none;
    height: 30px;
}

.intro_left button {
    background-color: DodgerBlue;
    color: white;
    border: none;
    height: 30px;
}

.intro_right button:hover {
    background-color: rgb(12, 104, 196);
}

.content {
    box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.4);
    border: 2px solid grey;
    border-radius: 0px 10px 10px 0px;
    width: 80%;
    padding:0px 10px;
}

.username {
    border: 2px solid grey;
    border-radius: 0px 2px 2px 0px;
    padding: 0px 5px;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.question_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.individual_tag {
    background-color: red;
    color: white;
    padding: 0px 5px;
}

.like_button {
    background-color: #0c9ee2;
    color: white;
    border: none;
}

.like_button:hover {
    background-color: #1f8bbd;
    color: white;
}

.dislike_button {
    background-color: #1e688a;
    color: white;
    border: none;
}

.dislike_button:hover {
    background-color: #237aa2;
}