/* ClubAdmin.css */
.club-admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow-y: auto;
}
.club-admin-container .admins{
    border-width: 2px;
    border-color: black;
    
}
.club-admin-container .allEvents {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    overflow-y: auto;
}

.club-admin-container .search-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
  
.club-admin-container .search-bar {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
}
  
.club-admin-container input {
    padding: 10px;
    flex: 1;
}
  
.club-admin-container button {
    padding: 10px;
    background-color: #4886A2;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
.club-admin-container .club-details {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.club-admin-container .club-details .club-details-sub{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.club-admin-container .club-details .club-details-sub .club-details-sub-sub{
    padding: 2px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}