.event-card {
  border: 2px solid black;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  /* width: 300px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.dateAndTime {
  display: flex;
  flex-direction: row;
}

.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-details {
  padding: 4px;
}

.event-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.event-info {
  margin-bottom: 4px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}