@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

html {
    background-color: #c0d9dc
}

body {
    padding: 20px 20px;
}

.full_app {
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 0px 60px;
    align-self: stretch;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 8px;
}

.side {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 0;
}

.center {
    flex: 1;
}