html {
    background-color: #c0d9dc
}

body {
    padding: 20px 30px;
}

.full_app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 80%;
    flex: 1;
}

.main {
    width: 80%;
    flex: 2;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.side {
    flex: 1;
    height: 100vh;
    /*background-color: red;*/
}

.center {
    flex: 3;
    /*background-color: green;*/
}