.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar img[alt="logo"] {
    margin-bottom: 12px;
    height: 100px;
    align-self: center;
}

.sidebar-top, .sidebar-end {
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar svg {
    height: 30px;
    width: 30px;
    stroke: black;
}

.sidebar button {
    border-radius: 8px;
    height: 50px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: flex;
    gap: 14px;
    background-color: white;
    border: 0;
}

.sidebar button:hover:not(.selected){
    transition: 0.1s;
    background-color: rgba(240, 240, 240, 0.841);
}

.sidebar button:hover{
    cursor: pointer;
}

.sidebar-end {
    padding: 8px;
    border-top: 1px solid rgb(197, 196, 196)
}

.sidebar .selected {
    color: white;
    font-weight: 500;
    transition: 0.2s;
    background-color: #4684A0;
}

.sidebar .selected svg{
    stroke: white;
}

.sidebar .selected svg[fill=""]{
    fill: white;
}

.sidebar .sidebar-top button:active:not(.selected) {
    background-color: rgba(197, 197, 197, 0.841);
    transition-delay: 50ms;
}