.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(197, 196, 196)
}

.sidebar a {
    display: flex;
}

.sidebar img[alt="logo"] {
    margin-bottom: 12px;
    height: 100px;
    align-self: center;
}

.sidebar-top, .sidebar-end {
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar svg {
    height: 30px;
    width: 30px;
    stroke: black;
}

.sidebar a {
    box-sizing: border-box;
    padding: 0px 10px;
    flex: 1;
    border-radius: 8px;
    min-height: 50px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: flex;
    gap: 14px;
    background-color: white;
    border: 0;
}

.sidebar a:active {
    color: black;
}

.sidebar a:visited {
    color: black;
}

.sidebar a:hover:not(.active){
    transition: 0.1s;
    background-color: rgba(240, 240, 240, 0.841);
}

.sidebar a:hover{
    cursor: pointer;
}

.sidebar-end {
    padding: 8px;
    border-top: 1px solid rgb(197, 196, 196)
}

.sidebar a.active {
    color: white;
    font-weight: 500;
    transition: 0.2s;
    background-color: #4684A0;
}

.sidebar .active svg{
    stroke: white;
}

.sidebar .active svg[fill=""]{
    fill: white;
}