.card_outside_container {
    width: 100%;
}

.club_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 30px;
    background-color: rgb(255, 241, 241);
    box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
    border: 1px dotted;
    border-radius: 15px;
    gap: 10px;
}

.club_card:hover {
    transform: scale(1.02);
}

.club_card .club_name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.club_name {
    font-size: 25px;
    font-weight: bold
}

.allClubs {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}

.subscribe_button {
    color: white;
    background-color: #4886A2;
    padding: 10px;
    font-size: 15px;
    border: none;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 20px;
}

.subscribe_button:hover {
    background-color: #37677d;
}