.toggles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper, .lower {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.toggle-button{
    text-align: center;
    width: 120px;
    height: 40px;
    background-color: rgb(243, 247, 247);
    border-radius: 30px; 
    margin-left: 5px;
    margin-right: 5px;
    
}

.toggle-button:hover {
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.toggle-button.active {
    background-color:  #7dafccd0;
    font-weight: bold; /* You can adjust this based on your design */
}



