.calendar-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.calendar-wrapper .collegeEvents{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calendar-wrapper .customEvents{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calendar-wrapper .individualEvent {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border-color: black;
    background-color: #9bced4;
}

.calendar-wrapper .individualEvent .eventTitle {
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.calendar-wrapper .individualEvent .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.calendar-wrapper .individualEvent img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

.calender {
    width: 60%;
    display: flex;
    justify-content: center;
}

.event {
    width: 40%;
    font-family: "Delius", cursive;
    /* background-color: #9bced4; */
}

.event-date{
    margin-top: 26px;
}